[Unit]
Description=Argon One Fan and Button Daemon Service
After=sysinit.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/argononed -F
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
